# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import openweathermapy as ow

# Import API key
from api_keys import wapi_key

# Settings
settings = {"units":"imperial","appid":wapi_key}

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [17]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

635

In [18]:
cities_df = pd.DataFrame({'city':cities})
cities_df.head()

           city
0  kruisfontein
1     raudeberg
2        faanui
3     taolanaro
4       ushuaia

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [20]:
weather_data = []

for index, row in cities_df.iterrows():
    # Try to grab weather information if they are available in OpenWeatherMap
    try:
        weather_data.append(ow.get_current(row[0],**settings))
        print(f'Processing Record {index} city: {row[0]} ! Appending weather')
        
    # Handle exceptions for not available cities
    except:
        print(f'city {row[0]} not found. Skipping...')
print("--------------------------")
print("Data Retrieval Complete")
print("--------------------------")

city taolanaro not found
city attawapiskat not found
city nizhneyansk not found
city illoqqortoormiut not found
city mys shmidta not found
city grand river south east not found
city sentyabrskiy not found
city tsihombe not found
city umzimvubu not found
city amderma not found
city saleaula not found
city belushya guba not found
city toliary not found
city marcona not found
city tuysarkan not found
city barentsburg not found
city samusu not found
city alotau not found
city mahaicony not found
city lolua not found
city karamea not found
city jubayl not found
city shkotovo-22 not found
city berikulskiy not found
city bargal not found
city bolungarvik not found
city dinsor not found
city falealupo not found
city warqla not found
city bababe not found
city mudyuga not found
city yingzhong not found
city dzhusaly not found
city ruatoria not found
city dipkarpaz not found
city maykain not found
city bur gabo not found
city toungoo not found
city palabuhanratu not found
city sataua not found
city crab hill not found
city meyungs not found
city halalo not found

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [72]:
# Create lists to store relevant data
city = []
country = []
date = []
lat = []
lon = []
temp_max = []
humidity = []
cloudiness = []
wind_speed = []

# Loop thru the response list
for i in range(len(weather_data)):
    city.append(weather_data[i]['name'])
    date.append(weather_data[i]['dt'])
    country.append(weather_data[i]['sys']['country'])
    lat.append(weather_data[i]['coord']['lat'])
    lon.append(weather_data[i]['coord']['lon'])
    temp_max.append(weather_data[i]['main']['temp_max'])
    humidity.append(weather_data[i]['main']['humidity'])
    cloudiness.append(weather_data[i]['clouds']['all'])
    wind_speed.append(weather_data[i]['wind']['speed'])

# Convert raw data to DataFrame
weather_df = pd.DataFrame({"City" : city,
                           "Cloudiness": cloudiness,
                           "Country":country,
                           "Date": date,
                           "Humidity" : humidity,
                           "Lat": lat,
                           "Lng": lon,
                           "Max Temp": temp_max,
                           "Wind Speed": wind_speed})
weather_df.head()

# Export the data into csv
cities_df.to_csv('out.csv',index=False)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Kruisfontein,100,ZA,1604583740,87,-34.00,24.73,72.00,8.01
1,Raudeberg,90,NO,1604583740,93,61.99,5.14,53.60,16.11
2,Faanui,54,PF,1604583740,83,-16.48,-151.75,78.76,13.20
3,Ushuaia,75,AR,1604583740,66,-54.80,-68.30,50.00,24.16
4,Saint George,1,US,1604583453,34,37.10,-113.58,51.80,3.20

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot